<app-header (cleanChatEmit)="cleanHistory()"></app-header>
<div class="main row mx-0 px-2">
  <!-- <app-side-bar class="col-3 h-100 px-2"></app-side-bar> -->
  <main class="messages col-12 px-2">
    <div class="container-messages">
      <app-chat-history [cleanChat]="cleanChat"
        (cleanChatEmit)="updateCleanHistory()"
        (updateLoadingEmit)="updateLoading()"
        class="chat-history">
      </app-chat-history>
    </div>
    <footer class="mt-2">
      <app-chat-bot [loading]="loading"
      (updateLoadingEmit)="updateLoading()"
      ></app-chat-bot>
    </footer>
  </main>
</div>


