.nav-header {
  background: #0C599F;
}

.navbar-brand {
  color: white;
  font-weight: 600;
}

.new-chat {
  height: 100%;
  width: 128px;
  margin-right: 1rem;
}

.logout {
  height: 100%;
  width: 56px;
}

.icon-wisdom {
 width: 40px;
 height: 40px;
}

.dropdown-custom {
  z-index: 1000;
  position: absolute;
  background-color: white;
  margin: 4px;
  padding: 4px;
  right: 0;
  box-shadow: 0 4px 4px #00000040;
  border: none;
  border-radius: none;
}


.title-info {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: .1em;
  text-transform: uppercase;
  color: #495057;
}

.label-info {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  color: #00548f;
  text-transform: uppercase;
}
